@import "./../1_tools/variables";
@import "./../2_base/fonts";

.date {
  padding: $gutter-size;
  background-color: $cl-dark-gray-light;
  border-left: 5px solid $cl-fav-green-light;
  &__heading {
    @extend .font-montserrat-regular-italic;
  }
  &__moment {
    @extend .font-montserrat-light;
  }
  &-picker {
    max-width: 365px;
    margin: 0 auto;
  }
}

.time-unit-output {
  padding: $gutter-size/4 $gutter-size;
  margin-bottom: $gutter-size / 2;
  background-color: $cl-dark-gray-light;
}

$button-mode-translate-position: $gutter-size;
$button-mode-transition-time: 400ms;
$button-mode-transition-type: cubic-bezier(
  0.165,
  0.84,
  0.44,
  1
); // https://easings.net/#easeOutQuart
@keyframes button-mode-hide {
  from {
    opacity: 1;
    margin-bottom: $gutter-size;
    height: auto;
    color: $cl-white;
  }
  to {
    opacity: 0;
    margin-bottom: 0;
    padding: 0;
    height: 0;
    width: 0;
    color: transparent;
  }
}
@keyframes button-mode-show {
  from {
    opacity: 0;
    margin-bottom: 0;
    padding: 0;
    height: 0;
    width: 0;
    color: transparent;
  }
  to {
    opacity: 1;
    margin-bottom: $gutter-size;
    height: auto;
    color: $cl-white;
  }
}
.button--mode {
  animation: button-mode-show $button-mode-transition-time $button-mode-transition-type forwards;
  padding: $gutter-size;
  background-color: $cl-dark-gray-light;
  color: $cl-white;
  border-width: 0 0 0 5px;
  border-left-style: solid;
  border-left-color: $cl-sb-magenta;
  cursor: pointer;
  &:focus {
    outline-color: $cl-sb-magenta;
  }
  &.selected {
    animation: button-mode-show $button-mode-transition-time $button-mode-transition-type forwards;
    border-left-color: $cl-fav-green-light;
    &:focus {
      outline-color: $cl-fav-green-light;
    }
  }
  &.wowza {
    animation: button-mode-hide $button-mode-transition-time $button-mode-transition-type forwards;
    cursor: default;
  }
}

.form {
  &__dropdown,
  &__input-field,
  &__textarea {
    font-size: 15px;
    background-color: $cl-white !important;
    width: auto;
    border: 1px solid $cl-maroon;
  }
  &__dropdown {
    padding: 10px 35px 10px 10px;
  }
  &__input-field {
    width: 80px;
    padding: 10px;
  }
  &__textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
  }
}
select {
  &.form__dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 35px 10px 10px;
    border-radius: 0;
    background-image: url('../images/chevron-down.svg');
    background-position: top 50% right 15px;
    background-repeat: no-repeat;
    // @hack: IE10 & IE11
    &::-ms-expand {
      display: none; // remove default arrow on ie10 and ie11
    }
  }
}
