@import "variables";

// generic

.app {
  text-align: center;
  background-color: #222;
  min-height: 100vh;
  color: $cl-white;
}

// layout

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
header,
footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
footer {
  background-color: #111;
  padding: $bottom-spacing/2 0;
  margin-top: $bottom-spacing/2;
}
content {
  max-width: 1234px;
  margin: 0 auto;
  padding: $rem-base $rem-base $bottom-spacing $rem-base;
  position: relative;
}

// typography

p a {
  color: $cl-fav-blue;
  text-decoration: none;
}
.link {
  color: $cl-sb-blue;
}

// colorful bar

.bar,
.bar-item {
  font-size: 0;
}
.bar {
  margin: 0;
  padding: 0;
}
.bar-item {
  display: inline-block;
  height: 5px;
  width: 10%
}

// section copyright

.copyright-mit {
  font-size: $small-font-size;
}
