@import "./1_tools/variables";

// generic

.app {
  min-height: 100vh;
}

// layout

body {
  background-color: $cl-dark-gray-medium;
  color: $cl-white;
  margin: 0;
  padding: 0;
  @extend .font-montserrat-regular;
}

header {
  border-bottom: 3px solid $cl-maroon;
  text-shadow: 1px 1px 0 $cl-black;
}

header,
footer {
  background-color: $cl-dark-gray-dark;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
footer {
  padding: $bottom-spacing/2 0;
  margin-top: $bottom-spacing/2;
}
content {
  max-width: 1234px;
  margin: 0 auto;
  padding: $gutter-size $gutter-size $bottom-spacing $gutter-size;
  position: relative;
}

// colorful bar

.bar,
.bar-item {
  font-size: 0;
}
.bar {
  margin: 0;
  padding: 0;
}
.bar-item {
  display: inline-block;
  height: 5px;
  width: 10%
}

// section copyright

.copyright-mit {
  font-size: $small-font-size;
}
