@import "./1_tools/variables";

// generic

.app {
  text-align: center;
  background-color: #222;
  min-height: 100vh;
  color: $cl-white;
}

// layout

body {
  margin: 0;
  padding: 0;
  @extend .font-montserrat-regular;
}

header,
footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
footer {
  background-color: #111;
  padding: $bottom-spacing/2 0;
  margin-top: $bottom-spacing/2;
}
content {
  max-width: 1234px;
  margin: 0 auto;
  padding: $rem-base $rem-base $bottom-spacing $rem-base;
  position: relative;
}

// colorful bar

.bar,
.bar-item {
  font-size: 0;
}
.bar {
  margin: 0;
  padding: 0;
}
.bar-item {
  display: inline-block;
  height: 5px;
  width: 10%
}

// section copyright

.copyright-mit {
  font-size: $small-font-size;
}
